/* Custom Exerrcises List */

.items {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  list-style: none;
}

@media (min-width: 768px) {
  .items {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .items {
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}
