/* Buttons */

.normal {
  margin-right: 5px;
  padding: 2px 10px;
  min-width: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.23);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.normal:focus {
  outline: none;
}

.normal:last-child {
  margin-right: 0;
}

.small {
  padding: 5px 10px;
}

.medium {
  padding: 15px 30px;
}

.large {
  padding: 20px;
}

.noBorder {
  border-color: transparent;
}

.borderRadius {
  border-radius: 13px;
}

.rounded {
  border-radius: 50px;
}

.link {
  color: #1976d2;
  border: 1px solid rgba(25, 118, 210, 0.5);
}

.disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  cursor: default;
  pointer-events: none;
}

.black {
  color: white;
  background-color: black;
}

.normal:hover,
.active {
  border-bottom-color: black;
  outline: none;
}
