/* ButtonIcon */

.container {
  display: flex;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.container:hover {
  outline: none;
  font-weight: 600;
}

.text {
  display: none;
}

@media (min-width: 768px) {
  .text {
    display: flex;
    align-self: center;
    font-size: 12px;
    text-transform: uppercase;
    color: grey;
  }
}

.ico {
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  padding-bottom: 0;
}

.active {
  font-weight: 600;
  outline: none;
}
