/* Exercise Card */

.item {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}

.image {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

/* Text section */

.textContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: rgb(56, 56, 57);
  white-space: pre-wrap;
  word-break: break-word;
}

.pills {
  margin-bottom: 20px;
  padding-left: 0;
}
