/* Footer */

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: grey;
  border-top: 1px solid rgba(0, 0, 0, 0.23);
}
