/* id */

.container {
  position: relative;
  padding: 50px 20px 10px 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .container {
    padding: 80px;
    flex-direction: row;
  }
}

.buttonBack {
  position: absolute;
  top: 20px;
  left: 20px;
}

@media (min-width: 768px) {
  .buttonBack {
    top: 30px;
    left: 30px;
  }
}

.image {
  position: relative;
  padding-right: 0;
}

@media (min-width: 768px) {
  .image {
    padding-right: 80px;
  }
}

.buttonsWrapper {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
