/* Pill */

.container {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 4px 12px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 13px;
  color: rgb(56, 56, 57);
  font-size: 14px;
  font-weight: 400;
}

.container:last-child {
  margin-right: 0;
}
