.menu {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: white;
}

/* Buttons and logo*/

.buttonContainer {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

.logo {
  display: flex;
  align-self: flex-start;
}

/* Icons */

.iconsContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

@media (min-width: 768px) {
  .iconsContainer {
    justify-content: space-around;
    align-items: center;
  }
}
